.movie
  %h1.title Saw
  .poster
    = image_tag "http://placehold.it/200x300"
  .rating
    %h2 Rating: Must Watch
  .plot-synopsis
    %h3 Plot
    %p With a dead body laying between them, two men wake up in the secure lair of a serial killer who's been nicknamed "Jigsaw". 
    The men must follow various rules and objectives if they wish to survive and win the deadly game set for them.
  .mini_pitch
    .label
      %h4 How would best describe theme of the movie? What would be your movie pitch?
    .desc
      %p "What if someone could make you kill to be alive?"
  .mini_review
    .label
      %h4 So, how was the movie?
    .desc
      %p "Kept me glued throughout trying to unravel the mystery. And then all the reveals towards the ending, including the master reveal of an ending, totally unexpected. A definite must watch"
  .watch_stats
    .watched_on
      %h4 Watched on:
      %p December 6,2011
    .watched_at
      %h4 Watched At:
      %p HBO
      
  .movie_moments
    .label
      %h4 So, what are some of your favourite movie moments?
    .desc
      %ul
        %li 
          %p The "dead body" rising up in the end has to be my favourite moment.
          %span.like
            = link_to "Like","#"
          %span.comment
            = link_to "Comment","#"
          .comments
            %p Comments
            %ul
              %li.comment
                .desc True, I didn't expect that one coming!
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Ronald Rutherford
              %li.comment
                .desc Undoubtedly the greatest ending ever in a movie.
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Rambowie Lavar
 
  .movie_mood_tags
    %h4 So what kind of movie moods would you recommend this movie for?
    %h5 Movie Moods:
    %ul
      %li Thriller
      %li Whoddunit
      %li Twist Ending

  .movie_tags
    %h4 Tags:
    %ul
      %li Whoddunit
      %li Twist Ending
      
  .full_review
    %h4 Full Review
    %p Saw is one of those movies...................
    %span.like
      = link_to "Like","#"
    %span.comment
      = link_to "Comment","#"
    .comments
      %p Comments
      %ul
        %li.comment
          .desc True, I didn't expect that one coming!
          .author 
            .avatar= image_tag "http://placehold.it/20x20"
            .name Ronald Rutherford
        %li.comment
          .desc Undoubtedly the greatest ending ever in a movie.
          .author 
            .avatar= image_tag "http://placehold.it/20x20"
            .name Rambowie Lavar
    
  .notes
    %h4 Notes
    %p I read how the low budget of the movie led the movie makers to decisions that ended up defining the movie.
    For e.g having just two characters in the movie in one location for most part. Those grainy video camera shots because
    there wasn't enough money to shoot those scenes. Quite amazing how constraints can actually make you a better product!
        

