#top.row(style="border-radius:10px")
  .span2.center
    %span.avatar(style="")
      = image_tag "http://placehold.it/128x128"
    .mini-bio
      .rank
        Newbie
      %span.age
        22,
      %span.location
        London

  .span6
    %h1.name 
      Roonie Wadia
    
    %h2.prof_title 
      Film student, London Film School
    
    %p.about_me_liner
      "I love the movies!"

    .movie_persona
      .desc
        %p Drama lover, Sci-fi geek, Romantic fool 
      
    .current_movie_mood
      .textlabel
        %p Current Movie mood:
      .movie_mood_quote
        %p "Eric Rohmer movies, very interesting french movies by him."
      
  .span.pull-right
    %ul.stats-tabs.unstyled
      %li
        %a(href="#")
          %strong
            20
          %span
            Followers
      %li
        %a(href="#")
          %strong
            120
          %span
            Following
      %li
        %a(href="#")
          %strong
            10
          %span
            Lists
    .data        
      %table
        %tr
          %th
            Reputation
          %td
            100
        %tr
          %th
            Views
          %td
            100
        %tr
          %th
            Seen
          %td
            12 hrs. ago
        %tr
          %th
            Member since
          %td
            1 year, 10 months
          

#tabrow.row
  %ul.nav.nav-tabs
    %li.active
      %a(href="#tab1" data-toggle="tab")
        About Me
    %li
      %a(href="#tab9" data-toggle="tab")
        My Taste
    %li
      %a(href="#tab2" data-toggle="tab")
        All Time Favourites
    %li
      %a(href="#tab3" data-toggle="tab")
        Recommendations by Me
    %li
      %a(href="#tab4" data-toggle="tab")
        Goals
    %li
      %a(href="#tab5" data-toggle="tab")
        Caught My Eye
    %li
      %a(href="#tab6" data-toggle="tab")
        More Lists

#bottom.row
  #col1.span12.tab-content  
    .bio.tab-pane.active(id="tab1")
      .header
        %h2 
          About Me  
          %small
            bio
        
      .about_me
        .question
          %p So tell us a little bit about yourself.
        .desc
          %p "I have been an avid movie lover since my teens. And now I have decided to learn the art of film making. I hope to make good movies and be a great director one day."
      
      .about_movies
        .question
          %p What is it about the movies that you love so much?
        .desc
          %p "That they draw you into this another world, that time flies away, and that ultimately, they move you. Is it why it's called a movie, I wonder."
            
      .movie_start
        .question
          %p So how did your fascination with movies start.
        .desc
          %p "I can't say for sure. I just know that I developed a deep appreciation for the art of movie making."
          
          
      .fav_genre
        .question
          %p What are some of you favourite genres.
        .desc
          %p "I have an affinity for drama, any kind of drama and a good story. Not a fan of horror. And who doesn't love a good comedy, romantic or not. Other than that I am a huge sci-fi fan."
          %p "I also like inspiring sports movies like the Mighty Ducks, Clash of the Titans etc.."
      .movie_taste
        .question
          %p What is your taste in movies like( What kind of movies do you like to watch )
        .desc
          %p "I like to watch foreign language films as they give me an insight into life in other cultures. Movies with good conversational dialogues appeal to me a lot. 
          %p Other than any movie with a good story is something that I like to watch"
      .fav_genre
        %h3 Favourite Genres
        %ul
          %li Sports
          %li Action
          %li Thriller
          %li Mystery
      .fav_movie_moods
        %h3 Favourite Movie Moods
        %ul
          %li Fun
          %li Light-hearted
          %li High-Drama
          %li Sports-based
      .contact_details
        %h3 Contact    
        .facebook
          %p Facebook: 
          = link_to "http://www.facebook.com/ronnie.wadia"
        .twitter
          %p Twitter: 
          = link_to "http://www.facebook.com/ronnie.wadia"
        .website
          %p Website: 
          = link_to "http://www.facebook.com/ronnie.wadia"
    
    .my-taste.tab-pane(id="tab9")
      .header
        %h2 
          My Taste
          %small
            The kind of movies that I like to watch.
      
      .tastes
        .taste
          %h3 Sports movies which are inspiring and have a great climax.
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p The Mighty Duck
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p The Clash of the Titans
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Rudy
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Miracle
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
        .taste
          %h3 Highly conversational movies with good dialogues.
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Good Will Hunting
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Before Sunrise
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Before Sunset
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p 12 Angry Men
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
                    
        .taste
          %h3 Movies with great twist endings which no one saw coming.
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Sixth Sense
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Usual Suspects
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Shawshank Redemption
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Saw
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
                    
        .taste
          %h3 Good Science fiction (not just a movie with an alien)
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p 2001 Space Odyssey
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Moon
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p Minority Report
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
                    
        
    .all_time_favourites.tab-pane(id="tab2")
      .header
        %h2 
          All Time Favourites
          %small
            The movies that I like most
      %ul.favourites.thumbnails
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Dark Knight
            .detail 
              %p For the super villain that Joker was. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Saw
            .detail 
              %p For keeping me on the edge throught, for the layered reveals and then blowing my mind with the master reveal of an ending. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Prestige
            .detail 
              %p For the intensity of the rivarly between the two magicians. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Good Will Hunting
            .detail 
              %p For the awesomely awesome conversational dialogue heavy style. Great dialogues and great acting. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p 2001 Space Odyssey
            .detail 
              %p For filling me with wonder and awe at the imagination of a director dreaming how space travel would be like way back in 1969.
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Dark Knight
            .detail 
              %p For the super villain that Joker was. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Saw
            .detail 
              %p For keeping me on the edge throught, for the layered reveals and then blowing my mind with the master reveal of an ending. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Prestige
            .detail 
              %p For the intensity of the rivarly between the two magicians. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Good Will Hunting
            .detail 
              %p For the awesomely awesome conversational dialogue heavy style. Great dialogues and great acting. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p 2001 Space Odyssey
            .detail 
              %p For filling me with wonder and awe at the imagination of a director dreaming how space travel would be like way back in 1969.
            
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Good Will Hunting
            .detail 
              %p For the awesomely awesome conversational dialogue heavy style. Great dialogues and great acting. 
        %li.span3
          .favourite.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p 2001 Space Odyssey
            .detail 
              %p For filling me with wonder and awe at the imagination of a director dreaming how space travel would be like way back in 1969.
            
    .movies_that_i_love.tab-pane(id="tab6")
      %h2 The movies that I love
      %ul.movies.thumbnails
        %li.span3
          .movie.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Before Sunrise
            .detail 
              %p Those long fun conversations roaming all around Vienna. 
        %li.span3
          .movie.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Before Sunset
            .detail 
              %p Again, the long conversations, but this time more mature, intelligent and ..different than the last time.
            
    .movies_that_left_a_deep_impact.tab-pane(id="tab7")
      %h2 The movies that left a deep impact
      %ul.movies.thumbnails
        %li.span3
          .movie.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Before Sunrise
            .detail 
              %p Those long fun conversations roaming all around Vienna. 
        %li.span3
          .movie.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Before Sunset
            .detail 
              %p Again, the long conversations, but this time more mature, intelligent and ..different than the last time.
                
    .movies_that_i_have_fondness_for.tab-pane(id="tab8")
      %h2 The movies that I have a fondness for.
      %ul.movies.thumbnails
        %li.span3
          .movie.thumbnail
            = image_tag "http://placehold.it/230x341"
            .title 
              %p Leap Year
            .detail 
              %p Sweet romantic comedy, beautiful Irish country side, and Amy Adams charmingly comic. 
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
            .title 
              %p Real Steel
            .detail 
              %p Absolutely heart warming saga of a boy, his father and his robot.
      
    .my_recommendations.tab-pane(id="tab3")
      .header
        %h2
          Recommendations
          %small
            These are my movie recommendations.
      .recommendation
        %h3 Genre: War
        .desc
          %p The top war movies that I think are a must watch.
        %ul.movies.thumbnails
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Bridge on River Kwai
              .detail 
                %p Quite a classic
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Real Steel
              .detail 
                %p Absolutely heart warming saga of a boy, his father and his robot.
        %span.suggest
          = link_to "Suggest a movie","#",class: "btn btn-primary"
        %span.post_comment
          = link_to '<i class="icon-comment"></i> Comment'.html_safe,"#",class: "btn"
        .comments
          %h4 Comments
          %ul
            %li.comment
              .type Movie Suggestion:
              .desc You have to have Saving Private Ryan in this list. It's won so many oscars.
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Ronald Rutherford
            %li.comment
              .desc Quite like this list. I am going to add this to my goal :-)
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Rambowie Lavar
      .recommendation
        %h3 Genre: Horror
        .desc
          %p The top horror movies that I think are a must watch.
        %ul.movies.thumbnails
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Leap Year
              .detail 
                %p Sweet romantic comedy, beautiful Irish country side, and Amy Adams charmingly comic. 
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Real Steel
              .detail 
                %p Absolutely heart warming saga of a boy, his father and his robot.
        %span.suggest
          = link_to "Suggest a movie","#",class: "btn btn-primary"
        %span.post_comment
          = link_to '<i class="icon-comment"></i> Comment'.html_safe,"#",class: "btn"
        .comments
          %h3 Comments
          %ul
            %li.comment
              .desc You have to have Saving Private Ryan in this list. It's won so many oscars.
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Ronald Rutherford
            %li.comment
              .desc What about Ramboo 4?
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Rambowie Lavar
      .recommendation
        %h3 Movie Mood: Happy
        .desc
          %p These are the movies to watch when you are happy
        %ul.movies.thumbnails
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Leap Year
              .detail 
                %p Sweet romantic comedy, beautiful Irish country side, and Amy Adams charmingly comic. 
          %li.span3
            .movie.thumbnail
              = image_tag "http://placehold.it/230x341"
              .title 
                %p Real Steel
              .detail 
                %p Absolutely heart warming saga of a boy, his father and his robot.
        %span.suggest
          = link_to "Suggest a movie","#",class: "btn btn-primary"
        %span.post_comment
          = link_to '<i class="icon-comment"></i> Comment'.html_safe,"#",class: "btn"
        .comments
          %h3 Comments
          %ul
            %li.comment
              .desc You have to have Saving Private Ryan in this list. It's won so many oscars.
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Ronald Rutherford
            %li.comment
              .desc What about Ramboo 4?
              .author 
                .avatar= image_tag "http://placehold.it/20x20"
                .name Rambowie Lavar
    
              
      .thriller
      .comedy
      .action
      .sci-fi
      .war
      .crime
      .historical
      .western
      .adventure
      .sports
      .documentary
      .fantasy
    
    .my_goals.tab-pane(id="tab4")
      .header
        %h2
          Goals
          %small
            These are the movie goals that I have set for myself.
      .goals
        .goal
          .title
            %h3 Goal: Watch all Wong Kar Wai movies.
          .desc
            %p Very interesting direction style.
          .row
            .span3
              .progress.progress-info.progress-striped
                .bar(style="width: 60%;")
            .span3
              %span
                60% Complete
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
          %span.post_comment
            = link_to '<i class="icon-comment"></i> Comment'.html_safe,"#",class: "btn"
          .comments
            %h3 Comments
            %ul
              %li.comment
                .type Movie Suggestion:
                .desc You have to have Saving Private Ryan in this list. It's won so many oscars.
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Ronald Rutherford
              %li.comment
                .desc What about Ramboo 4?
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Rambowie Lavar
        .goal
          .title
            %h3 Goal: Watch all Britt Marling movies.
          .desc
            %p Fell in love with her in Another Earth. Have to see the others.
          .row
            .span3
              .progress.progress-info.progress-striped
                .bar(style="width: 30%;")
            .span3
              %span
                30% Complete
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
        .goal
          .title
            %h3 Goal: Watch Ram Gopal Varma's Gangster Movie Recommendations
          .desc
            %p No one makes Bollywood gangster movies like Ram Gopal!
          .row
            .span3
              .progress.progress-info.progress-striped
                .bar(style="width: 10%;")
            .span3
              %span
                10% Complete
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p 
        .goal
          .title
            %h3 Goal: Watch Nicola Johnson's Rom Com Movie Recommendations
          .desc
            %p A good collection of Rom-coms by Nicola here, not overtly mushy or cheesy.
          .row
            .span3
              .progress.progress-info.progress-striped
                .bar(style="width: 10%;")
            .span3
              %span
                10% Complete
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p 
        .goal
          .title
            %h3 Goal: Watch IMDb top 250 movies
          .desc
            %p Have watched most, would love to tick off the rest.
          .row
            .span3
              .progress.progress-info.progress-striped
                .bar(style="width: 10%;")
            .span3
              %span
                10% Complete
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p
    
    .caught_my_eye.tab-pane(id="tab5")
      .header
        %h2 
          Caught My Eye
          %small
            These are some of the movies that have caught my eye.
      .goals
        .goal
          .title
            %h3 Wong Kar Wai movies.
          .desc
            %p Very interesting direction style.
          %ul.movies.thumbnails
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p A Winter's Tale
                .detail 
                  %p  
            %li.span3
              .movie.thumbnail
                = image_tag "http://placehold.it/230x341"
                .title 
                  %p La Collectionneuse
                .detail 
                  %p
          %span.suggest
            = link_to "Suggest a movie","#",class: "btn btn-primary"
          %span.post_comment
            = link_to '<i class="icon-comment"></i> Comment'.html_safe,"#",class: "btn"
          .comments
            %h4 Comments
            %ul
              %li.comment
                .type Movie Suggestion:
                .desc You have to have Saving Private Ryan in this list. It's won so many oscars.
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Ronald Rutherford
              %li.comment
                .desc What about Ramboo 4?
                .author 
                  .avatar= image_tag "http://placehold.it/20x20"
                  .name Rambowie Lavar
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
